*/.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea/

node_modules
npm-debug.log
book_img

build
public
/src

checkerboard@2.0.0
nodemon
npm
rimraf

.git
.gitignore

.vscode/chrome
/package-lock.json
.babelrc
.editorconfig
.csscomb.json
.eslintrc
.eslintignore
config/
binding.gyp
tsconfig.json
jsconfig.json
tslint.json
tsconfigbuild.json
webpack.config.js
**/story.jsx
